h1{
    text-align: center;
    color: white; 
    font-size:10vw;
}
h2{
    text-align: center;
    color: white; 
    font-size:5vw;
    
}
h3{
    text-align: center;
    color: white; 
    font-size:3vw; 
}

html{
    background-image: linear-gradient(to right,rgb(247, 56, 56),rgb(236, 87, 87));
    font-family: 'Courier New', Courier, monospace;

}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1000;
}