
body{
    margin: 0%;
}

html{
    background-image: linear-gradient(to bottom,rgb(42, 52, 84), rgba(49, 56, 90, 0.774));
    font-family:sans-serif
}

h2{
    text-align: center;
    font-weight:400;
    
}

.navbar {
    background-image: linear-gradient(to top,rgb(2, 2, 2), rgb(83, 83, 83));
    overflow: hidden;
    text-align: center;
    
    
}


.navbar a  {    /* Style for the links of navigation bar */
    display: inline-block;
    list-style: none;
    color: whitesmoke;
    padding: 20px 20px;
    text-decoration: none;
    

 
}

.navbar a:hover{    /*Style when hovering over a link*/
    
    background-image: linear-gradient(to bottom,rgb(231, 230, 230), rgba(151, 151, 151, 0.541));
    color: black;
}

.homemain{
    padding-bottom: 3%;
    color: white;
}

.homemain h1{
    padding-left: 5%;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    font-size: 70px;
  
}

.homemain h2{
    text-shadow: 2px 2px 4px #000000;
    width: 65%;  
    
}

.homemain h3{
    padding-left: 5%;
    margin-top: -3%;
    font-size: 35px;
    text-shadow: 2px 2px 2px #000000;
    font-family: 'Courier New', Courier, monospace;
    
}



img {
    border: 3px solid rgba(5, 5, 5, 0.673);
    width: clamp(100px,30%,400px);
    border-radius: 60%; 
}
.imgcontainer{
    text-align: center;
}






.description {
    padding: 5%;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: rgb(1, 2, 5);
    
}

.description h1{
    font-size: 40px;
    padding-left: 8% ;
}

.description h2{
    
    text-align: left;
    width: 70%;

} 



.footer{
    padding:10px;
    background-color: hsl(225, 67%, 1%);
    color: white;
    text-align: center;
}


/* CONTACT ME PAGE */

.contactmain{
    text-align: center;
    padding: 20px 30px;
    color: white;
    padding-bottom: 30%;
}
.contactmain a{
    color:aqua;
}

/* END OF CONTACT ME PAGE */

/* PROJECTS PAGE */

.projectsmain{
    color: white;
}

.project_row{
    text-align: left;
    padding-bottom: 3%;
    
    
    
}

.projectsmain h1{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    width: 100%;
    font-size: 40px;
}

.project_row h2{
    padding-left: 2%;
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
}

.project_row h3{
    padding-left: 2%;
    width: 75%;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    font-size: 19px;
}







/* END OF PROJECTS PAGE */



